.introduction {
  margin-top: 400px;
  height: 100vh;
  background-image: url(https://www.atoukids.fr/front-end/assets/img/ak-home-intro-ring-bg.svg);
  background-repeat: no-repeat;
  background-position: -10% center;
  background-size: contain;
  h2 {
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
  }
}
